/* Import the font */
@font-face {
    font-family: 'OCRAEXT';
    src: url('fonts/OCRAEXT.TTF') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'OCRAEXT', sans-serif;
    background-color: #0000; /* Light grey background */
    color: #ff8ee9; /* Light pink text */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    text-align: center; /* Center all content */
}

header, .content, footer {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-image {
    display: none; /* Hide the header image as it will be used as a background */
}

.content-title {
    font-size: 2em;
    margin-top: 20px;
}

button {
    background-color: #000; /* Black link buttons */
    color: #ff8ee9; /* Light pink text */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'OCRAEXT', sans-serif;
    font-size: 1em;
    margin: 10px;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
}

button:hover {
    background-color: #333; /* Darker black on hover */
}

.soundcloud {
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

footer {
    padding: 20px;
    background-color: #000; /* Black background for footer */
    color: #ff8ee9; /* Light pink text */
    width: 100%;
    text-align: center;
}

.emoji {
    position: fixed;
    top: 0;
    font-size: 24px;
    animation-name: fall;
    animation-timing-function: linear;
    z-index: 1;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

#background-gif {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 75%;
    height: 75%;
    object-fit: cover;
    opacity: 1; /* Adjust opacity for better readability */
    pointer-events: none; /* Ensure the background does not interfere with content */
}
